
@font-face {
  font-weight: 400;
  font-family: "Lato";

  src: url("./assets/fonts/Lato-Regular.ttf");
}

@font-face {
  font-weight: 700;
  font-family: "Lato";

  src: url("./assets/fonts/Lato-Bold.ttf");
}

@font-face {
  font-weight: 900;
  font-family: "Lato";

  src: url("./assets/fonts/Lato-Black.ttf");
}

@font-face {
  font-weight: 300;
  font-family: "Lato";

  src: url("./assets/fonts/Lato-Light.ttf");
}

body {
  width: 1020px;
  margin: 0 auto;
}

.wrapper {
  width: 940px;
  margin: 0 auto;
}

.header {
  height: 90px;

  background-color: #2d2f39;
  border-bottom: 5px solid #323746;
}

.header__wrapper {
  display: flex;
  justify-content: space-between;
}

.header__navigation {
  margin: 30px -1px 0 0;
}

.navigation {
  display: flex;
  justify-content: space-between;
  width: 372px;
}

.navigation li {
  list-style-type: none;
}

.navigation li a {
  display: flex;
  justify-content: center;
  align-items: center;
  width: auto;
  height: 37px;

  font-weight: 700;
  font-size: 12px;
  line-height: 37px;
  font-family: "Lato", sans-serif;
  color: white;
  text-transform: uppercase;
  text-decoration: none;
}

.navigation li a:hover {
  color: rgb(184, 136, 128);
}

li.active a {
  color: #e36861;
}

.navigation li:not(:last-child) a::after {
  content: ".";
  position: relative;
  top: -3px;
  left: 13px;

  font-size: 14px;
  font-family: "Lato", sans-serif;
  color: #494e62;
}

.logo h1 {
  margin-top: 40px;

  font-weight: 700;
  font-size: 25px;
  line-height: 6px;
  font-family: "Lato", sans-serif;
  text-align: left;
  color: #ffffff;
  text-transform: uppercase;
  letter-spacing: -0.5px;
}

.logo::after {
  content: "*";
  position: relative;
  top: -31px;
  left: 107px;

  font-size: 25px;
  font-family: "Lato", sans-serif;
  color: #f06c64;
}

/*slider*/
.carousel {
  position: relative;

  height: 595px;

  background-color: #f06c64;
  border-bottom: 5px solid #ea676b;
}

.item-content {
  position: relative;

  width: 100%;
}

.item {
  position: relative;
}

.description {
  position: relative;
}

.iphone-vertical {
  position: absolute;
  top: 53px;
  left: 72px;

  width: 215px;
  height: 460px;

  border-radius: 35px;
  box-shadow: 25px 25px #ce5d56;;
}

.screen-vertical {
  position: absolute;
  top: 65px;
  left: 14px;

  width: 188px;
  height: 334px;
  overflow: hidden;

  background-image: url("./assets/images/Screen1.png");
  background-position: -14px -135px;
}

.iphone-horizontal {
  position: absolute;
  top: -56px;
  left: 613px;

  width: 215px;
  height: 460px;

  border-radius: 35px;
  box-shadow: 25px -27px #ce5d56;
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
  transform-origin: 0;
}

.screen-horizontal {
  position: absolute;
  top: 304px;
  left: 108px;

  width: 334px;
  height: 188px;
  overflow: hidden;

  background-image: url("./assets/images/Screen2.png");
  background-position: -125px -119px;
  -webkit-transform: rotate(-90deg);
          transform: rotate(-90deg);
  transform-origin: 0;
}
.control {
  position: absolute;
  top: 0;
  bottom: 0;

  width: 85px;

  cursor: pointer;
}

.control.left {
  right: auto;
  left: 0;
}

.control.right {
  right: 0;
  left: auto;
}

.arrow {
  position: absolute;
  top: 47%;
}

.arrow.right {
  right: 48%;
}

.arrow.left {
  right: 31%;
}

.control:hover {
  background-color: rgba(117, 50, 50, 0.3);
}

/*services*/
.our-services {
  height: 495px;

  font-size: 12px;
  font-family: "Lato", sans-serif;
  color: #666d89;

  background-color: #f2f2f2;
  border-bottom: 5px solid #ffffff;
}

.services__description {
  padding-top: 68px;
}

.services__description h2 {
  font-weight: 900;
  font-size: 30px;
  line-height: 18px;
  text-align: left;
}

.services__description p {
  width: 940px;
  height: 57px;
  padding-top: 28px;

  font-weight: 300;
  font-size: 18px;
  line-height: 30px;
  text-align: justify;
}

.layout-3-column {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 49px;
}

.service {
  display: flex;
  justify-content: space-between;
  width: 300px;
  height: 123px;
  overflow: hidden;
}

.service__description {
  width: 220px;
  margin-top: -2px;
}

.service__description h4 {
  font-weight: 900;
  font-size: 18px;
  line-height: 18px;
  text-align: left;
  text-transform: capitalize;
}

.service__description p {
  height: 128px;
  padding-top: 10px;

  font-weight: 400;
  font-size: 12px;
  line-height: 21px;
  text-align: justify;
}
